.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img all/FB_IMG_1601029051768.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 100px;
}
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color:black ;
  padding: 15px 10px;
}

.header a {
  float: left;
  color: white;
  
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 2px;
}

.header a.logo {
  font-size: 30px;
  font-weight: bold;
  color: orangered;
}

.header a:hover {
  background-color:white;
  color: black;
}

.header a.active {
  background-color: white;
  color:black;
}

.header-right {
  float: right;
}

.tex1
{
    max-width: 600px;
    margin:0 auto;
    margin-top: 50px;
    
    
}


.bio
{
    text-align: center;
}
.bio1
{
    text-align: left;
}
h4
{
    text-align: center;
}
hr
{
    width: 100px;
    height: 2px;
    background-color: black;
    margin-bottom: 30px;
    margin-top: 10px;
}
img.logo
{
    width: 125px;
    height: 130px;
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow:0px 0px 4px rgba(0, 0,0,5);
}
h1.name
{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color:white;

}
h2.codenumber
{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
}
span.slogan
{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(51, 51,51, 0.7);
    margin-bottom: 35px;
    color: white;
}
.social-img ul
{
    margin: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}
.social-img ul li
{
    display: inline;
    background-color:black;
    
    padding: 10px;
    border-radius: 40%;
    cursor: pointer;
    transition: background 150ms ease-in-out;
}
.social-img ul li:hover {
    background: #ccc;
    
}
h3
{
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
* {
    box-sizing: border-box;
  }
  
  .box {
    float: left;
    width: 50%;
    padding: 25px;
    height: 505px;
    text-align: left;
    
    
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: inline;
  }
  .container {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height:50%;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color:orangered;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #myBtn 
  {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:orangered;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }
  
  #myBtn:hover 
  {
    background-color: #555;
  }
